<header>
        
            <nav>
                
                <a href="/influential-artists/">Influential Artists</a>
                <a href="/accounts/">Accounts</a>
                <a href="/videos/">Videos</a>
            </nav>
            <a href="/"> <img class="logo" alt="Groovy Gals logo with sunglass illustration" align="right" src="https://s3-alpha-sig.figma.com/img/4582/2aac/231b17a04378354a5b181681eb3d0e85?Expires=1700438400&Signature=FeIhnMmAsxRgFofwv0WfaG~4y2~FQKB8W6Sk~RQwvcZ2TlacalSh7p7aMA4pR9M6MlsoWqAsXnih1a18sE3~IeHppqJavpejrSB1GHaE1zv8wnU7VLeZr7Nm0TUkrFK3n4BF0Vt08DxKijGSFyDjvLfDdQNHfXpTi6mccbwkY6QDjN9BSSfJtg7oIy5zlzGJvLnHJrjLgbTWSvHlaiZQwZtXa4mP-GadYl484lkTd5rFKa8-gKEVhI2GvAzEwDwQechrF0T-qR7oIqspYqX~M9ORAWA7wcf6EvG9CQHrjZmOipdF0-XFoi2ozHs5~uIL21wgb7eNpWyVKVYvJ5143w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" > </a>
        </header>