<header>
        
            <nav>
                
                <a href="/influential-artists/">Influential Artists</a>
                <a href="/accounts/">Accounts</a>
                <a href="/videos/">Videos</a>
            </nav>
            <a href="/"> <img class="logo" alt="Groovy Gals logo with sunglass illustration" align="right" src="assets/logopng.png" > </a>
        </header>