<header class="main-nav-container">
    <a href="/"><img class="logo" alt="Groovy Gals logo with sunglass illustration" src="/assets/logo2.png" /></a>
    <div class="right">
        <button class="btn-toggle-menu">
            <svg viewBox="0 0 100 60" width="30" height="30">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </button>    
        </div>
        <nav class="main-nav main-nav-hidden">
            <a href="/influential-artists">Influential Artists</a>
            <a href="/accounts">Accounts</a>
            <a href="/videos">Videos</a>
        </nav>

</header>