
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Mono&display=swap');               

body {
background-color: #F9F5F2;
margin: 0;
font-family: 'Poppins', sans-serif;
}

main {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

nav a {
    color: black;
    font-size: 25px;
    display: space-evenly;
    
}

nav :hover {
    color: #F9F5F2;
}

.logo {
    width: 250px;
    background-color: #E8D8C7;
    padding-right: 70px;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}



.sitting {
       width: 50%;
       padding-right: 2%;
}
.painting {
    width: 20%;
}

.sclupture {
    width: 20%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #7c2776;
    padding-bottom: 15px;
    padding-top: 13%;
}

.Explore {
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
    font-size: 25px;
    padding-top: 65px;
}

.row2 {
    display: flex;
    max-width: 100%;
    align-items: baseline;
}

.sara1 {
   width: 100%;
}

.brooke1 {
    width: 100%;
}

.riley1 {
    width: 100%;
}

figcaption {
    font-family: 'Poppins';
    font-size: 18px;  
    padding-top: 2%;
    padding-bottom: 6%;
    text-align: center;
}

.row5 figcaption {
    font-family: 'Poppins';
    font-size: 25px;  
    padding-top: 2%;
    padding-bottom: 0;
    text-align: center;
    color: #6296A3;
}

li {
    max-width: 800px;
    font-size: 18px;
}
.row5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row3 {
    display: flex;
    max-width: 100%;
    align-items: baseline;
}

.cat1 {
    width: 100%;
}

.allie1 {
    width: 100%;
}

.sara2
{
    width: 100%;
}

.row4{
    display: flex;
    max-width: 100%;
    align-items: baseline;
}

.gwen1{
    width: 100%;
}

.kenna1{
    width: 100%;
}

.allie2 {
    width: 100%;
}

.influential  {
    padding-top: 2%;
}

.list1 {
   font-family: 'Poppins', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 1.2cm;
   padding-bottom: 2%;
   font-size: 18pt;
   
}
.figcaption3{
text-align: center;
max-width: 50%;
padding-left: 20%;
}

.profile {
    display: flex;
    max-width: 50%;
    padding-top: 2%;
    padding-left: 20%;
}

.row6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    padding-top: 7%;
}

.artiststatement {
font-family: 'poppins'; 
font-size: 16pt;
}

.row7 {
    display: flex;
    align-items: center;
    max-width: 100%;
    
}

.accountimg {
    width: 25%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.videos1 {
display: flex;
margin-left: auto;
margin-right: auto;
padding: 5%;
}

.videotext {
    font-family: 'poppins';
    font-size: 25pt;
    padding-top: 7%;
    color: #6296A3;
}

.videotext2 {
    text-align: left;
    font-family: 'poppins';
    font-size: 18px;
    max-width: 45%;
    
}


@media (min-width: 1200px) {

    .row6 {
            flex-direction: row;
    }
    .artiststatement {
        max-width: 50%;  
    }
}