<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Accounts' %}
<body class="page">
    {% include 'header' %}
    <main>
        <h1>
            Explore New Artists
        </h1>
<div class="row6">
    <figure> <img class="profile" src="/assets/brookeprofile.png"/> <figcaption class="figcaption3"> Brooke Penningtion </figcaption> </figure>
    <p class="artiststatement" >My art is all over the place but I like to try and explore everything. From painting to sculpting to metal working or 3D printing I'm interested in it all. I want to create a large skill set for myself so when I have an idea I can create every aspect of that project. I like to do a lot of digital designing with 3D softwares and create those ideas into physical objects, or use different technologies to enhance my art. I used to hate technology and was overwhelmed by it, now I use some sort of tech in almost all my art pieces. Whether it's for planning a construction, modeling it, creating the overall image, or creating extra pieces for the artwork, some sort of tech is involved. I also have a very specific character design I like to work with in hopes of creating a brand with it. In the future I want to print on clothing and other fabrics to see how my ideas translate over to wearable items. </p>
    </div>
<div class="row7" >
    <img class="accountimg" src="/assets/brooke1.jpg"/>
    <img class="accountimg" src="/assets/brooke2.jpg"/>
    <img class="accountimg" src="/assets/brooke3.png"/>
    </div>
<div class="row7" >
    <img class="accountimg" src="/assets/brooke4.jpg"/>
    <img class="accountimg" src="/assets/brooke6.jpg"/> 
    <img class="accountimg" src="/assets/brooke5.png"/> 
    </div>

<div class="row6">
    <figure> <img class="profile" src="/assets/saraprofile.png"/> <figcaption class="figcaption3"> Sara O'Connor </figcaption> </figure>
    <p class="artiststatement" >My art is all over the place but I like to try and explore everything. From painting to sculpting to metal working or 3D printing I'm interested in it all. I want to create a large skill set for myself so when I have an idea I can create every aspect of that project. I like to do a lot of digital designing with 3D softwares and create those ideas into physical objects, or use different technologies to enhance my art. I used to hate technology and was overwhelmed by it, now I use some sort of tech in almost all my art pieces. Whether it's for planning a construction, modeling it, creating the overall image, or creating extra pieces for the artwork, some sort of tech is involved. I also have a very specific character design I like to work with in hopes of creating a brand with it. In the future I want to print on clothing and other fabrics to see how my ideas translate over to wearable items. </p>
    </div>
<div class="row7" >
    <img class="accountimg" src="/assets/sara3.jpeg"/>
    <img class="accountimg" src="/assets/sara4.jpeg"/>
   
    </div>
<div class="row7" >
    <img class="accountimg" src="/assets/sara5.jpeg"/>
    <img class="accountimg" src="/assets/sara6.jpeg"/>
    <img class="accountimg" src="/assets/sara7.jpeg"/>
    </div>

<div class="row6">
    <figure> <img class="profile" src="/assets/allieprofile.png"/> <figcaption class="figcaption3"> Allison O'Connor </figcaption> </figure>
    <p class="artiststatement" >My art is all over the place but I like to try and explore everything. From painting to sculpting to metal working or 3D printing I'm interested in it all. I want to create a large skill set for myself so when I have an idea I can create every aspect of that project. I like to do a lot of digital designing with 3D softwares and create those ideas into physical objects, or use different technologies to enhance my art. I used to hate technology and was overwhelmed by it, now I use some sort of tech in almost all my art pieces. Whether it's for planning a construction, modeling it, creating the overall image, or creating extra pieces for the artwork, some sort of tech is involved. I also have a very specific character design I like to work with in hopes of creating a brand with it. In the future I want to print on clothing and other fabrics to see how my ideas translate over to wearable items. </p>
    </div>
<div class="row7" >
    <img class="accountimg" src="/assets/allie3.jpg"/>
    <img class="accountimg" src="/assets/allie4.jpg"/>
    <img class="accountimg" src="/assets/allie5.jpg"/>
    </div>
<div class="row7" >
    <img class="accountimg" src="/assets/allie6.jpg"/>
    <img class="accountimg" src="/assets/allie7.jpg"/> 
    <img class="accountimg" src="/assets/allie8.jpg"/> 
    </div>
    </main>
    {% include 'footer' %}
</body>
</html>
