<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'My Homepage' %}
    <body class="home">
        {% include 'header' %}
        <main>
            <a href=”https://studious-disco-pjp64p6qrjjf7p47-5500.app.github.dev/link“ style="text-decoration: none;"
            >
            
                <h1> Become Inspired by Important Artists Throughout History  </h1> </a>
                
                <div class="row"> 
                    <img class="painting" alt="Painting of a women holding her paints" src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/39/2048x2805/gallery-1475159843-hbz-the-list-female-artists-to-know-louise-gettyimages-463967423.jpg?resize=980:*" />
            `       <img class= "sitting" alt="Image of a lady sitting within her artwork" src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/16/39/2560x1757/hbz-female-artists-to-know-helen-frankenthaler-gettyimages-92924771.jpg?resize=980:*"/>
                    <img class="sclupture" alt="women admiring her sclupture" src="https://hips.hearstapps.com/hmg-prod/images/hbz-women-artists-augusta-savage-gettyimages-139496350-1590684155.jpg?crop=1xw:1xh;center,top&resize=980:*" />
            </div>
        
            <p class="Explore"> Explore Artists</p>
        
        <div class="row2">
            <figure> <img class="sara1"  alt="oil painting of a female portrait"  src="assets/sara1.jpg">  <figcaption>Sara O'Connor</figcaption> </figure>
            <figure> <img class="brooke1" alt="Vibrant pencil drawing and characters" src="assets/resizedbrooke 3.jpg">  <figcaption>Brooke Penningtion</figcaption> </figure>
            <figure> <img class="riley1" alt="colorful paper collage" src="assets/riley1.jpg"> <figcaption>Riley Mahoney</figcaption> </figure>
        </div>

        <div class="row3">
            <figure> <img class="cat1" alt="poetry by cat walker" src="https://i.ibb.co/GxZ93yg/catspoem.jpg"> <figcaption>Cat Walker</figcaption> </figure>
            <figure> <img class="sara2" alt="" src="assets/sara2.jpg"> <figcaption>Sara O'Connor</figcaption> </figure>
            <figure> <img class="allie1" alt="blue angel oil painting" src="assets/Allison1.jpg"> <figcaption>Allison O'Connor</figcaption> <figure> 

        </div>

        <div class="row4">
            <figure> <img class="gwen1" alt="scull painting of animal" src="assets/gwen1.jpg"> <figcaption>Gwen Grimes</figcaption></figure>
            <figure> <img class="kenna1" alt="Line art of female portrait" src=""> <figcaption>Kenna Olejarnik</figcaption> </figure>
            <figure> <img class="allie2" alt="linocut print on tye-dye shirt" src="https://s3-alpha-sig.figma.com/img/2c04/742f/db7267ed47417099d9d0db60ed78ee15?Expires=1700438400&Signature=osHvqc4amq1E05SbO1iBfvNH0Ajkb6XbIjrCWsvAoIIFKHG6zPp-wsqOcW6YPD9DAGgPS5bI0CPtQzj3geSpYhY5eGCRgeqpek2aPljQQZ73JnFj~b2ZKnZ029gLueR~m4UPFFbwIw2K2ovQei1f6YEyXhh4ByeDyrxhI8M9Enevxe~azhoI3zOAF-71oYEo1hmnWrGPwWjrJHn9Jycg8-8iwM7pTvLh9zrn5uRh90J2es3BbTiUC~kb8GuixoOfSLRG7UFC~yv~vXB45vAamwEMoShH4qMKCf2B8eRQJBj89xmKFB0EPtuOJ26xCT6LqmhxZJjArw3751y~hnsVkg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"> <figcaption>Allison O'Connor</figcaption> </figure>
        </div>

        
        </main>
        {% include 'footer' %}
    </body>
</html>
