<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Influential Artists' %}
<body class="page">
    {% include 'header' %}
    <main>
        <h1>
            Learn about Influential Female Artists
        </h1>
        
        <figure> <img  class="liz"src="/assets/ElizabethL.jpg"/> <figcaption>Élisabeth Louise Vigée Le Brun (1755–1842)</figcaption> </figure>
       <ol class="list1"> 
            <li> One if the leading French artist of the 18th century  </li> 
            <li> She painted her clients portraits calm and welcoming </li>
            <li> Her style was developed by combining Rococo and Neoclassicism techniques </li>
            <li> Le Brun painted Queen Marie Antoinette multiple times  </li>
       </ol>
    
         
        <div class="row6">
        <figure> <img class=""  alt=""  src="">  <figcaption></figcaption> </figure>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
