<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Influential Artists' %}
<body class="page">
    {% include 'header' %}
    <main>
        <h1>
            Learn about Influential Female Artists
        </h1>

        <div class="row5">
        <figure> <img  class="influential" alt="Portrait of Élisabeth Louise Vigée Le Brun" src="/assets/ElizabethL.jpg"/> <figcaption>Élisabeth Louise Vigée Le Brun (1755–1842)</figcaption> </figure>
       <li class="list1"> 
            <li> One if the leading French artist of the 18th century  </li> 
            <li> She painted her clients portraits calm and welcoming </li>
            <li> Her style was developed by combining Rococo and Neoclassicism techniques </li>
            <li> Le Brun painted Queen Marie Antoinette multiple times  </li>
       </li>
     </div>

     <div class="row5">
        <figure> <img  class="influential" alt="Portrait of Harriet Powers" src="/assets/harrietp.jpeg"/> <figcaption> Harriet Powers (1839-1910)</figcaption> </figure>
       <li class="list1"> 
            <li> Harriet Powers was an African-American slave who made quilts  </li> 
            <li> Her quilts told stories that included folklore, legends, and bible stories </li>
            <li> Only two of her quilts survive: Bible Quilt (1886) and Pictorial Quilt (1898) </li>
       </li>
     </div>

    <div class="row5">
        <figure> <img  class="influential" alt="Portrait of Mary Cassatt" src="/assets/maryc.jpg"/> <figcaption> Mary Cassatt (1844-1926) </figcaption> </figure>
       <li class="list1"> 
            <li> Mary Cassatt moved to France to pursue a career in art, and she did so without her family’s approval  </li> 
            <li> She was one of the few female artists to join the French Impressionist movement, and Cassatt brought it to the United States </li>
            <li> While Impressionist artists focused on landscapes, she painted women doing mundane, unglorified tasks </li>
            <li> In addition to Impressionism, Cassatt was inspired by Japanese printmaking </li>
       </li>
     </div> 

    <div class="row5">
        <figure> <img  class="influential" alt="Portrait of Helma af Klint" src="/assets/klint.jpg"/> <figcaption> Hilma af Klint (1862 – 1944) </figcaption> </figure>
       <li class="list1"> 
            <li> Klint painted some of the first abstract paintings </li> 
            <li> She was immensely overlooked during the abstract art movement, and male artists received credit and recognition </li>
            <li> Spiritual ideas and diagrams are found in her paintings </li>
       </li>
     </div>   

    <div class="row5">
        <figure> <img  class="influential" alt="Portrait of Alma Thomas" src="/assets/alma.jpg"/> <figcaption> Alma Thomas (1891–1978) </figcaption> </figure>
       <li class="list1"> 
            <li> Thomas was an art teacher for 35 years, and she was active in her art community </li> 
            <li> She organized the Washington School Arts League that helped African American children become inspired and have an appreciation for fine art </li>
            <li> She helped create art galleries in Washington schools </li>
            <li> Famous works include: Iris, Tulips, Jonquils, and Crocuses (1969) and Cherry Blossom Symphony (1973) </li>
       </li>
     </div> 

<div class="row5">
        <figure> <img  class="influential" alt="Portrait of Augusta Savage" src="/assets/augusta.jpg"/> <figcaption> Augusta Savage (1892 – 1962) </figcaption> </figure>
       <li class="list1"> 
            <li> Savage was involved with advocating equal rights for African-American artists in addition to being a sculptor and a teacher </li> 
            <li> Her piece “Gamin” of a Child from Harlem, won her awards and put her in exhibitions </li>
            <li> She became the first African-American artists elected to the National </li>
            <li> Despite gaining lots of success, Savage continued to teach art in her community  </li>
       </li>
     </div> 
        
        <figure> <img class=""  alt=""  src="">  <figcaption></figcaption> </figure>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
