<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Videos' %}
<body class="page">
    {% include 'header' %}
    <main>
        <h1>
            Learn New Skills
        </h1>
    <div class="row10">
    <p class="videotext"> Ceramics </p>
    <p class="videotext2"> Ceramics def </p>
    </div>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/IhFd0q2LzE4?si=rin3rTRBBXrkdrjn" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/4Cnx1z910LE?si=evnjj7ruNesTLpo-" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/Wewj1gc5w-4?si=KsUhKm1NERFH0ueI"  frameborder="0" allowfullscreen></iframe>        

    <p class="videotext"> Charcoal </p>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/APYVWYHS654?si=Eo_nEAPbhiJEiZGI" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/Rb7eqJviMFA?si=z8MxKw0wY3XeZZst" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/i0p5zKi_z70?si=-wYUKeYGhRNyWJ4E"  frameborder="0" allowfullscreen></iframe>
    

    <p class="videotext"> Oil Paint </p>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/Bx8r1Ud4gG0?si=Ji3CQ6CYKG9Qmxbh" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/vHbrB8ITSRE?si=M36BuXmqNtbCFuoN" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/CmyFJEuNZXE?si=aQh-WtEfysgnBEQm"  frameborder="0" allowfullscreen></iframe>

    <p class="videotext"> Acrylic Paint </p>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/akTKvXnrsQ4?si=nSf2UkTRzYBBXz4k" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/krzUs2z-aH0?si=LAAlOUu7Amr36Mxm" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" class="videos1" src="https://www.youtube.com/embed/VTh8_IUmaXI?si=zEzhsOdmk6u9gsLm"  frameborder="0" allowfullscreen></iframe>

    <p class="videotext"> Gesture Drawings </p> 
    <iframe width="560" height="315" class="videos1" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/JLYkOSfp27Y?si=bIjeovihikvy_VCr"></iframe>
    <iframe width="560" height="315" class="videos1" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/Z5eD4rXvDuY?si=lbl_OLhGQtB4Asjt"></iframe>
    <iframe width="560" height="315" class="videos1" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/_rRc4vU1buk?si=HavbmWJv7lFv2Z1x" </iframe>
    
    
    
    

    </main>
    {% include 'footer' %}
</body>
</html>
